<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>

  <body >
    <%- include('./partials/navbar'); %> <%- include('./partials/mainHeader');
    %>
    <div class="container col-md-6" >
      <% if(typeof err != 'undefined'){ %>
      <p class="alert alert-danger"><%= err %></p>
      <% } %> <% if(typeof errors != 'undefined') { %> <% errors.forEach(err =>
      { %>
      <p class="alert alert-danger"><%= err %></p>
      <% }) %> <% } %>

      <h1><%= title %></h1>
      <form method="POST" action="/post/add" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter a title"
          />
        </div>
        <div class="form-group">
          <label for="sub">Subtitle</label>
          <input
            name="subtitle"
            type="text"
            class="form-control"
            id="sub"
            placeholder="Enter a subtitle"
          />
        </div>
        <% if(typeof cat != 'undefined') { %>
        <div class="form-group">
          <label for="select-category">Category</label>
          <select
            name="category"
            class="form-control w-50"
            id="select-category"
          >
             <% cat.forEach(c => { %>
            <option value="<%= c.name %>"><%= c.name %></option>
            <% }) %>
          </select>
        </div>
        <% } %>
        <div class="form-group">
          <label for="textarea-body">Post text</label>
          <textarea
            name="text"
            class="form-control"
            id="textarea-body"
            rows="3"
          >
          </textarea>
        </div>
        <div class="form-group">
          <label>Upload post image</label>
        <input type="file" name="post-img" />
        </div>

        <button type="submit" class="btn btn-primary my-3">Save post</button>
      </form>
    </main>

    <%- include('./partials/footer'); %>
  </body>
</html>
