<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> <%- include('partials/mainHeader.ejs')
    %>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <% if (msg.success) { %>
      <div class="alert alert-success"><%= msg.success %></div>
      <% } %> <% if (msg.error) { %>
      <div class="alert alert-danger"><%= msg.error %></div>
      <% } %>
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          <% if(posts.length > 0) { %> <% posts.forEach(post => { %>

          <div class="post-preview">
            <a href="/post/<%= post._id %>">
              <h3 class="post-title"><%= post.title %></h3>
              <h4 class="post-subtitle"><%= post?.subtitle %></h4>
              <% if(post.imageUrl) { %>
              <img
                class="img-fluid"
                src="<%= post.imageUrl %>"
                alt="post-image"
              />
              <% } %> <%- truncate(post.text, 250, '...') %>
            </a>
            <p class="post-meta">
              Posted in
              <a href="/post/cat/<%= post.category %>"><%= post.category %></a>
              by
              <a href="#!">Boban PP</a>
              on <%= moment(post.date).format('DD MMM YY') %>
            </p>
          </div>

          <% }) %>
          <hr class="my-4" />

          <!-- Pager-->

          <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-primary text-uppercase" href="#!"
              >Older Posts →</a
            >
          </div>
          <% } else { %>
          <h1>Nothing for reading</h1>
          <% } %>
          <!-- Divider-->
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
