<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/navbar'); %> <%- include('./partials/mainHeader');
    %>

    <!-- Login Form -->
    <div class="container col-md-6">
      <% if(typeof err != 'undefined'){ %>
      <p class="alert alert-danger"><%= err %></p>
      <% } %> <% if(typeof errors != 'undefined') { %> <% errors.forEach(err =>
      { %>
      <p class="alert alert-danger"><%= err %></p>
      <% }) %> <% } %>
      <div class="row justify-content-center mt-5">
        <div class="">
          <div class="card shadow">
            <div class="card-title text-center border-bottom">
              <h2 class="p-3">Login</h2>
            </div>
            <div class="card-body">
              <form method="POST" action="/user/login">
                <div class="mb-4">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" />
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" />
                </div>
                <div class="mb-4">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="remember"
                  />
                  <label for="remember" class="form-label">Remember Me</label>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary my-3">
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer'); %>
  </body>
</html>
